*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* --------------------------------------------------heading------------------------------ */

.heading{
    /* border: 1px solid red; */
    color: #535c68;
    box-shadow: 3px 0px 10px 2px grey;
    /* text-align: center; */
    padding: 6px;
    font-size: 18px;
}

/* ------------------------------------------------content--------------------------------------- */

.content{
    height: 130vh;
    width: 100%;
    background-color: #c7ecee;
}
.con1{
    margin-left: 50px;
}
.button{
    margin-top: 20px;
    padding: 7px 25px;
}

.container1{
   
    width: 100px;
    height:200px;
    
    background-size: cover;
    transition: transform 2s;
}
.container1:hover{
    transform:scale(1.1);
}
.button:hover{
box-shadow:2px 3px 9px 2px grey,2px 3px 9px 2px grey,2px 3px 9px 2px grey,2px 3px 9px 2px grey;
}
@media only screen and (max-width:990px){
    .content{
height: 120vh;

    }
}

 @media only screen and (max-width:778px){
    .content{
        height: 190vh;
        padding-top: 40px;
    }
    .container1{
        margin-left: 100px;
    }
    .con1{
        margin-top: 20px;
        margin-left: 90px;
        margin-bottom: 30px;
    
    }
    .button{
        margin-top: 20px;
    }

} 